<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | EventHub</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <a href="{{ url_for('dashboard') }}"><h1>EventHub</h1></a>
    <div class="headerActions">
      <form class="searchBar" method="GET" action="{{ url_for('search') }}">
        <input type="text" name="q" placeholder="Search events or friends...">
        <button type="submit">Search</button>
      </form>
      <div class="icons">
        <a href="#"><img src="{{ url_for('static', filename='images/setting.png') }}" class="icon" onmouseout="this.style.filter='invert(0)'"></a>
        <a href="#"><img src="{{ url_for('static', filename='images/cart.png') }}" class="icon" onmouseout="this.style.filter='invert(0)'"></a>
        <a href="{{ url_for('profile') }}"><img src="{{ url_for('static', filename=profile_pic) }}" class="profile" onmouseout="this.style.filter='invert(0)'"> </a>
      </div>
    </div>
  </header>

  <main>
    <section class="slideshow">
      <div class="slides">
        {% for event in events %}
        <img src="{{ url_for('static', filename=event.image) }}" alt="{{ event.title }}">
        {% endfor %}
      </div>
    </section>

    {% if role == 'organiser' %}
      <a href="/createEvent" class="createEventBtn">Create New Event</a>
    {% endif %}

    <section class="upcomingEvents">
      {% if role == 'organiser' %}
        <a href="{{ url_for('search') }}"><h2>Your Events   ></h2></a>

      {% else %}
        <a href="{{ url_for('search') }}"><h2>Upcoming Events  ></h2></a>

      {% endif %}
        
      <div class="eventList">
        {% for event in events[:6] %}
        <div class="eventCard">
          <img src="{{ url_for('static', filename=event.image) }}" alt="{{ event.title }}">
          <h3>{{ event.title }}</h3>
          <p>{{ event.datetime[:10] }} · {{ event.datetime[11:16] }}</p>
          <p>{{event.location}}</p>
          <p>${{event.price}}</p>
          <a href="{{ url_for('tickets', eventId=event.id) }}" class="ticketBtn">Get Tickets</a>        </div>
        {% endfor %}
      </div>
    </section>


    <section class="friendList">
      <h2>Friends Attending</h2>
      <div class="friendsContainer">
        {% for friend in friends %}
        <div class="friend">
          <a href="{{ url_for('friendProfile', email=friend.email|urlencode) }}">
            <img src="{{ url_for('static', filename=friend.image) }}" alt="{{ friend.name }}" class="{% if 'default_profile.jpg' in friend.image %}defaultProfile{% endif %}">
          </a>
          <p>{{ friend.name }}</p>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
</body>
</html>
