<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Management System</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <div class="logo-container">
    <img src="logo.jpg" alt="Logo" class="logo">
  </div>
  <div class="auth-container">

  <main>
    <section>
        
      <h2 class = "auth">Home Page</h2>
        <form class="auth-form">
        <div class="input-group">
            <input type="text" maxlength="1" class="auth-input" />
            <input type="text" maxlength="1" class="auth-input" />
            <input type="text" maxlength="1" class="auth-input" />
            <input type="text" maxlength="1" class="auth-input" />
            <input type="text" maxlength="1" class="auth-input" />
            <input type="text" maxlength="1" class="auth-input" />
        </div>
        <button type="submit" class="submit-btn">Verify</button>
        </form>

    </section>
  </main>
    </div>

</body>
</html>